<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Capstone App</title>
        <link href="../styles/style.css" rel=stylesheet>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <h1>Harry's Travel Hub</h1>
            </div>
            <div id="name">
                <input type="text" placeholder="Input City Name"/>
            </div>
            <div id="date">
                <input type="text" placeholder="Input Travel Date"/>
            </div>
            <div id="image"></div>
            <div id="submit">
                <button type="button">Submit</button>
            </div>
            <div id="placeholder">
                <p>The weather forecast in [city] on [date] will be:</p>
            </div>
            <div id="forecast">
                <p>[weather forecast]</p>
            </div>
        </div>
    </body>
</html>